*{
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  font-size:16px;
  color:white;
}

h1,h2,h3{
  font-family: 'Varela Round', sans-serif;
}

h1{
  font-size:35px;
}

h2{
  font-size:25px;
}

h3{
  font-size:50px;
}

header{
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  background-color:black;
}

.navbar{
  color:white;
  justify-content: space-between;
  margin:auto;
  padding-left:10px;
  padding-right: 10px;
}

#queryString{
  font-family: 'Varela Round', sans-serif;
  font-size:20px;
  height:30px;
  width:400px;
  background-color:rgba(255,255,255,0.3);
  border-style: none;
  border-radius: 3px;
  text-align: center;
  color:white;
}

.burger{
  background-color:white;
  margin:3px;
  width:30px;
  height:5px;
}

.veggieBurger{
  flex-direction: column;
}

.container{
  display:flex;
  flex-wrap: wrap;
}

main{
  background-color:rgba(0,0,0,0.7);
  height:100vh;
  width:100vw;
  justify-content: space-around;
  flex-direction:row;
}

.artistPhoto{
  text-align: center;
  border-radius: 100%;
  /*overflow:hidden;*/
  width:75px;
  height:75px;
  margin-bottom:10px;
  margin-right:10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  display:block;
}

.artistPhoto.main{
  width:100px;
  height:100px;
  margin:auto;
  overflow: hidden;
}

.aP{
  min-width:100px;
  min-width:100px;
  max-width:150px;
  max-height:150px;
  width:auto;
  height:auto;
}

.currentArtist{
  margin-top:-10px;
  background-color:black;
  border-radius:0px 0px 10px 10px;
  flex-grow:2;
  height:100%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  overflow: scroll;
  padding:10px;
  margin:auto;
}

.artistBanner{
  align-items: center;
  margin-bottom:10px;
  padding:10px;
  border-radius:10px 10px 0px 0px;
  background-color:#FFE75B;
  color:black;
  flex-grow:2;
  margin:auto;
}

.artistName{
  text-align: center;
  padding:10px;
  width:100%;
  margin:auto;
}

.body{
  margin-top:10px;
}

.artistDescription , .relatedDescription{
  max-height:100px;
  width:90%;
  overflow:scroll;
  margin:auto;
  margin-bottom:10px;
}

.hidden{
  display:none;
}

.stub{
  background-color:#FFE75B;
  border-radius:0px 5px 5px 0px;
  padding:5px;
  margin-right:5px;
  margin-bottom:5px;
  color:black;
}

.stubStyle {
  width: 0; 
  height: 0; 
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  
  border-right: 13px solid #FFE75B;
}

.dot{
  background-color:black;
  border-radius: 100%;
  width:5px;
  height:5px;
  margin-left:5px;
  margin-top:-2px;
}

.addStub{
  padding-left:10px;
  padding-right:10px;
}

.content{
  margin-top:5px;
  margin-bottom:5px;
  width:90%;
  margin:auto;
  z-index:9998;
}

.column{
  flex-direction:column;
}

.contentBanner{
  width:90%;
  margin:auto;
  margin-top:20px;
  margin-bottom:5px;
}


.relatedArtist{
  text-align: center;
  justify-content: center;
  flex-direction:row;
  overflow: scroll;
  font-size: 21px;
  margin:3px;
  padding:5px;
  border-radius:5px 5px 5px 5px;
  background-color:#FFE75B;
  color:black;
}

.relatedName{
  display:block;
  margin:auto;
}

.related{
  justify-content: space-around;
}

.item.one{
  max-width:50%;
  max-height:61.5vh;
  flex-grow:1;
}

.item.two{
  max-width:32%;
  max-height:90vh;
  flex-grow:1;
}

.item.three{
  max-width:32%;
  max-height:90vh;
  flex-grow:1;
  position:relative;
}


.myArtists, .albumsPane, .songsPane{
  padding:10px;
  padding-top:100px;
  background-color:black;
  flex-grow:1;
  border-radius:10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  overflow:scroll;
}

.albumThumb{
  width:100%;
  height:100%;
  box-shadow: 0px 5px 10px rgba(255,255,255,0.12);
}

.albumStubs{
  margin-top:10px;
  margin-bottom:20px;
}

.body.item.one.container.pane.artistPane{
  max-width:32%;
}

.albumTitle{
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.65);
  z-index:9999;
  display:flex;
  flex-direction:column;
  align-content: center;
  justify-content:center;
  text-align:center;
  transition: opacity .2s;
}

.albumTitle:hover{
  opacity:1;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0, 0, 0, 0.85);
  z-index:9999;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content: center;
}

.album{
  position:relative;
  z-index:9998;
  margin:auto;
}

.center{
  align-items: center;
}

.contentHeader {
    position: absolute;
    text-align:center;
    background-color: #FFE75B;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    padding-top:20px;
    padding-bottom:20px;
    left: 0;
    right: 0;
    color:black;
    z-index:9999;
}

.trackName{
  width:100%;
}

.songStubs{
  width:100%;
  margin-top:10px;
  margin-bottom:15px;
}

.oh{
  transition: .4s ease-out;
}

.oh:hover{
  transform:scale(1.05);
  cursor: pointer;
}